html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content="Exchange Street Barber - Charleston, SC. Mens cuts, style, shave, scalp massage, and more.")
		meta(name='author', content='Chris Riewaldt')
		title Exchange Street Barber | Charleston SC
		
		include customfonts.html
		
		// Bootstrap Core CSS
		link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet' type='text/css')
		// Custom Fonts
		link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
		
		link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
		link(rel="stylesheet" type="text/css" href="css/flaticon.css")
		
		link(rel="apple-touch-icon-precomposed" sizes="57x57" href="icon/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href="icon/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon-precomposed" sizes="72x72" href="icon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href="icon/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon-precomposed" sizes="60x60" href="icon/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon-precomposed" sizes="120x120" href="icon/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon-precomposed" sizes="76x76" href="icon/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon-precomposed" sizes="152x152" href="icon/apple-touch-icon-152x152.png")
		link(rel="icon" type="image/png" href="icon/favicon-196x196.png" sizes="196x196")
		link(rel="icon" type="image/png" href="icon/favicon-96x96.png" sizes="96x96")
		link(rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="icon/favicon-16x16.png" sizes="16x16")
		link(rel="icon" type="image/png" href="icon/favicon-128.png" sizes="128x128")
		meta(name="application-name" content="Exchange Street Barber")
		meta(name="msapplication-TileColor" content="#FFFFFF" )
		meta(name="msapplication-TileImage" content="icon/mstile-144x144.png" )
		meta(name="msapplication-square70x70logo" content="icon/mstile-70x70.png" )
		meta(name="msapplication-square150x150logo" content="icon/mstile-150x150.png" )
		meta(name="msapplication-wide310x150logo" content="icon/mstile-310x150.png" )
		meta(name="msapplication-square310x310logo" content="icon/mstile-310x310.png" )
		
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
		//script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js', integrity='sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY', crossorigin='anonymous')
		//script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js', integrity='sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo', crossorigin='anonymous')
		// Theme CSS
		link(href='css/agency.css', rel='stylesheet')
	body.index(id="page-top")
		div#bodyWrap
			nav.navbar.navbar-default.navbar-custom.navbar-fixed-top#mainNav
				div.container
					div.navbar-header.page-scroll
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							|  Menu 
							i.fa.fa-bars
						a.navbar-brand.page-scroll(href='#page-top', style='font-family: script1;') Exchange Street Barber
					div.collapse.navbar-collapse#bs-example-navbar-collapse-1
						ul.nav.navbar-nav.navbar-right
							li.hidden
								a(href='#page-top')
							li
								a.page-scroll(href='#services') Menu
							li
								a.page-scroll(href='#portfolio') Book 24/7
							li
								a.page-scroll(href='#about') Location & Contact
							li
								a.page-scroll(href='#team') About
			
			// Header
			header
				div.container
					div.intro-text
						div.intro-lead-in Exchange Street Barber
						h4 10 Exchange St, Charleston, SC
						//p 10 Exchange St. Charleston, SC
						//div.intro-heading Exchange Street Barber
						//a.page-scroll.btn.btn-xl(href='#services') Tell Me More
							
			// Quote Section
			section(id="quote")
				div.container
					div.row
						div.col-lg-12.text-center
							h3.section-subheading.text-muted "Looking good leads to feeling good, and feeling good leads to empowerment." - Scott Barnes
			// Services Section
			section(id="services")
				div.container
					div.row
						div.col-lg-12.text-center
							h2.section-heading Menu
							hr
					div.row.text-center
						div.col-md-4
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x.text-primary
								i.flaticon-scissor-and-comb.fa-stack-1x
							h4.service-heading Gentleman's Haircut
							p.text-muted A cut and style designed to fit your individual look and preferences. 
								| Consultation, shampoo, conditioning scalp treatment, cut, style, and hot lather neck shave.
						div.col-md-4
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x.text-primary
								i.flaticon-razor-hair-salon-tool.fa-stack-1x
							h4.service-heading Traditional Straight Razor Shave
							p.text-muted
								| A calming yet invigorating experience enjoyed by gentlemen for centuries. 
								| 2x pre-shave oil, hot lather, shave, moisturizing toner, pore-sealing cold towel, and aftershave balm.
						div.col-md-4
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x.text-primary
								i.flaticon-bald-man-head.fa-stack-1x
							h4.service-heading Scalp Massage
							p.text-muted
								| Stimulate your nerves and blood vessels while calming muscle tension in your upper back, neck and scalp.
								| Calming oil blend, conditioning scalp treatment, scalp, neck, and shoulder massage.
					div.row.text-center
						div.col-md-4
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x.text-primary
								//i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
								i.flaticon-three-bottles-of-hair-salon.fa-stack-1x
							h4.service-heading Permanent & Demi-Permanent Color 
							p.text-muted
								| Demi-Permanent deposits color pigment onto the hair cuticle without penetrating it, lasting up to 24 washes.
								| Permanent changes the pigment of your hair.
						div.col-md-4
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x.text-primary
								i.flaticon-male-head-hair-and-beard.fa-stack-1x
							h4.service-heading Beard Trim
							p.text-muted
								| A gentleman deserves a dapper beard. Trim and shaping, style, and hot lather neck shave.
						.col-md-4
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x.text-primary
								i.flaticon-shaver.fa-stack-1x
							h4.service-heading Nose, Ears, & Eyebrows
							p.text-muted
								| Clipper and/or wax removal of unwanted nose, ear, and eyebrow hair.
					div.row.text-center
						div.col-md-2
						div.col-md-4
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x.text-primary
								//i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
								i.flaticon-short-black-hair-shape.fa-stack-1x
							h4.service-heading Little Gentleman's Haircut
							p.text-muted
								| Even little gentlemen deserve a dapper look. Consultation, cut, and style.
						div.col-md-4
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x.text-primary
								i.fa.fa-graduation-cap.fa-stack-1x
							h4.service-heading Student's Haircut
							p.text-muted
								| Special undergrad student rate. Consultation, shampoo, conditioning scalp treatment, cut, style, and hot lather neck shave.
						div.col-md-2
			// Portfolio Grid Section
			section.bg-light-gray(id="portfolio")
				div.container
					div.row
						div.col-lg-12.text-center
							h3.section-heading By Appointment Only
							h3.section-subheading.text-muted Book Online 24/7
					div.row
						div.col-md-12
							include vagaro.html
						
			// About Section
			section(id="about")
				div.container
					div.row
						div.col-lg-12.text-center
							h2.section-heading Location
							h3.section-subheading.text-muted Conveniently located in downtown Charleston, South Carolina
							a.btn.btn-xl(href="https://goo.gl/maps/jx68KDFNbX42" target="_blank") Get Directions 
							br
							br
						div.col-lg-12.text-center
							span 10 Exchange Street, Charleston, SC, 29455
							br
							br
							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.581046592638!2d-79.92846108481793!3d32.776849480972096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fe7a0ee758693d%3A0x44cf23c2c2e5a1e7!2s10+Exchange+St%2C+Charleston%2C+SC+29401!5e0!3m2!1sen!2sus!4v1491110565202" width="50%" height="50%" frameborder="0" style="border:0" allowfullscreen)
							
			
			section.bg-light-gray(id="contactus")
				div.container
					div.row
						div.col-lg-12.text-center
							h2.section-heading Contact Us
							h4.section-subheading.text-muted Have a question?
							br
							h4.section-subheading (843) 406-5122
			// Team Section
			section(id="team")
				div.container
					div.row
						div.col-lg-12.text-center
							h2.section-heading About Darlene
							h4.section-subheading.text-muted Owner | Master Stylist
					div.row
						div.col-sm-4
						div.col-sm-4
							div.team-member
								img.img-responsive.img-circle(src='img/team/2.jpg', alt='')
								p.large.text-muted
								| "The dapper gentleman deserves the perfect look to compliment his lifestyle." - Darlene
								h4 Exchange Street Barber
								p.text-muted 
								ul.list-inline.social-buttons
									li
										a(href="https://www.instagram.com/exchangestreetbarber" target="_blank")
											i.fa.fa-instagram
	
						div.col-sm-4
					div.row
						div.col-lg-8.col-lg-offset-2.text-center
							
			
			
			footer.bg-light-gray
				div.container
					div.row
						div.col-md-4
							span.copyright Created by: 
							strong
								a(href="https://www.linkedin.com/in/christopher-riewaldt-a21a531b") ChrisR
						div.col-md-4
							strong.copyright Copyright © ExchangeStreetBarber.com 2017
						div.col-md-4
							include iconShoutout.html
			//end of bodyWrap
		
		// body includes
		
		// jQuery
		script(src='vendor/jquery/jquery.min.js')
		// Bootstrap Core JavaScript
		script(src='vendor/bootstrap/js/bootstrap.min.js')
		// Plugin JavaScript
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js', integrity='sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb', crossorigin='anonymous')
		// Theme JavaScript
		script(src='js/agency.min.js')
		
		// Custom JavaScript
		script(src='js/esb.js')
