html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Exchange Street Barber - Charleston, SC. Mens cut, style, shave, scalp massage, and more.')
		meta(name='author', content='Chris Riewaldt')
		title Exchange Street Barber | Charleston SC
		
		include customfonts.html
		
		// Bootstrap Core CSS
		link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet' type='text/css')
		// Custom Fonts
		link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
		link(rel="stylesheet" type="text/css" href="css/flaticon.css")
		
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
		//script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js', integrity='sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY', crossorigin='anonymous')
		//script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js', integrity='sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo', crossorigin='anonymous')
		// Theme CSS
		link(href='css/agency.css', rel='stylesheet')
	body.index(id="page-top")
		div.container
			div.row.text-center
					div.col-md-4
						span.fa-stack.fa-4x
							i.fa.fa-circle.fa-stack-2x.text-primary
							//i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
							div
								p.fa-stack-1x(style='font-family: script1; font-size:100%; margin:auto; top:5px;') EsB
						h4.service-heading Little Gentleman's Haircut
						p.text-muted
							| Even little gentlemen deserve a dapper look. Consultation, cut, and style.
					div.col-md-4
						span.fa-stack.fa-4x
							i.fa.fa-circle.fa-stack-2x.text-primary
							//i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
							div
								p.fa-stack-1x(style='font-family: script1; font-size:85%; margin:auto; top:5px;') ESB
						h4.service-heading Little Gentleman's Haircut
						p.text-muted
							| Even little gentlemen deserve a dapper look. Consultation, cut, and style.
							
							p(style='font-family: script1; font-size:5em;') ESB
							p(style='font-family: script1; font-size:5em;') esb
							p(style='font-family: script1; font-size:5em;') E.S.B.
							p(style='font-family: script1; font-size:5em;') e.s.b.